{
  "extends": [
    "@antfu"
  ],
  "rules": {
    "semi": "off",
    "@typescript-eslint/semi": ["warn", "always"],
    "vue/max-attributes-per-line": ["error", {
      "singleline": {
        "max": 3
      },
      "multiline": {
        "max": 1
      }
    }],
    "vue/comma-dangle": 0,
    "vue/dot-location": 0,
    "vue/space-infix-ops": 0,
    "antfu/top-level-function": 0
  }
}
